@{
    ViewData["Title"] = "Добавление электронной подписи";
}

<div class="text-md-center">
    <h4>Добавление электронной подписи</h4>
    <br />
    <button style="width: 300px" onclick="GetSign">Выбрать файл</button>
    <br />
    <br />
    <button style="width: 300px">Подписать файл ЭЦП</button>
</div>